<div class="container">
  <h1>Rails Intro</h1>
  <!-- DONT USE <a> tag -->
  <!-- -->
  <%#= link_to "TEXT YOU SEE", prefix_path  %>
  <%= link_to 'About', about_path, class: 'btn btn-primary' %>
  <%= link_to 'Contact', contact_path, class: 'btn btn-info'  %>
</div>
